  <?php include 'head.inc';?>
  <div class="canvas clearfix">
    <div class="col3 right clearfix">
      <div class="col6 left card" style="background-image: url(../img/postagens.jpg);">
        <a ng-click="go(/postagens)">
          <div class="card-cover-blue">
            <center>
              <h3 class="card-text">Postagens</h3>
            </center>
          </div>
        </a>
      </div>
      <div class="col6 card left" style="background-image: url(../img/destaques.jpg);">
        <a href="#">
          <div class="card-cover-blue">
            <center>
              <h3 class="card-text">Destaques</h3>
            </center>
          </div>
        </a>
      </div>
      <div class="col6 card left" style="background-image: url(../img/news.jpg);">
        <a href="#">
          <div class="card-cover-blue">
            <center>
              <h3 class="card-text">Notícias</h3>
            </center>
          </div>
        </a>
      </div>
    </div>
    <div class="col3 painel left">
      <h3>O NPDI</h3>
      <p>
        O Núcleo de Processamento Digital de Imagens do Departamento de Ciência da Computação da UFMG tem como objetivo o desenvolvimento de pesquisa e a formação humana nas áreas de processamento digital de imagens e vídeos, recuperação de informação visual e sistemas de informação multimídia para acervos históricos.
      </p>
      <div class="col6 left card">
        <a ng-click="go(/parceirias)">
          <div class="card-cover-blue">
            <center>
              <h4>Parceiros</h4>
            </center>
          </div>
        </a>
      </div>
    </div>
  </div>
  <?php include 'footer.inc';?>
