  <?php include 'head.inc';?>
  <div class="canvas clearfix">
    <div class="col3 right clearfix">
      <div class="col6 left card" style="background-image: url(../img/postagens.jpg);">
        <a ng-click="go(/postagens)">
          <div class="card-cover-blue">
            <center>
              <h3 class="card-text">Postagens</h3>
            </center>
          </div>
        </a>
      </div>
      <div class="col6 card left" style="background-image: url(../img/destaques.jpg);">
        <a href="#">
          <div class="card-cover-blue">
            <center>
              <h3 class="card-text">Destaques</h3>
            </center>
          </div>
        </a>
      </div>
      <div class="col6 card left" style="background-image: url(../img/news.jpg);">
        <a href="#">
          <div class="card-cover-blue">
            <center>
              <h3 class="card-text">Notícias</h3>
            </center>
          </div>
        </a>
      </div>
    </div>
    <div class="col3 painel left">
      <h3>Parceiros</h3>
      <a href="#" class="link">
        <div class="col6 left">
          <div class="col2 left">
            <img src="img/ssig.png" alt="" width="100%"/>
          </div>
          <div class="col4 right">
            <p>
              Smart Surveillance Interest Group.
          </div>
        </div>
      </a>
      <a href="#" class="link">
        <div class="col6 left">
          <div class="col2 left">
            <img src="img/patreo.png" alt="" width="100%"/>
          </div>
          <div class="col4 right">
            <p>
              Pattern Recognition and Earth Observation.
          </div>
        </div>
      </a>
      <h3>Apoio</h3>
      <a href="#" class="link">
        <div class="col6 left">
          <div class="col2 left">
            <img src="img/cnpq.png" alt="" width="100%"/>
          </div>
          <div class="col4 right">
            <p>
              Conselho Nacional de Desenvolvimento Científico e Tecnológico.
            </p>
          </div>
        </div>
      </a>
      <a href="#" class="link">
        <div class="col6 left">
          <div class="col2 left">
            <img src="img/capes.png" alt="" width="100%"/>
          </div>
          <div class="col4 right">
            <p>
              Coordenação de Aperfeiçoamento de Pessoal de Nível Superior
            </p>
          </div>
        </div>
      </a>
      <a href="#" class="link">
        <div class="col6 left">
          <div class="col2 left">
            <img src="img/fapemig.png" alt="" width="100%"/>
          </div>
          <div class="col4 right">
            <p>
              Fundação de Amparo à Pesquisa do Estado de Minas Gerais
            </p>
          </div>
        </div>
      </a>
    </div>
  </div>
  <?php include 'footer.inc';?>
